:root {
  --primary-color: #7fa99b;
  --secondary-color: #394a51;
  --accent-color: #fdc57b;
}

/* Navigation Bar */

.logo-link {
  text-decoration: none;
  color: #394a51;
}

logo-link:visited {
  color: #394a51;
}

.logo {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 80px;
  background: #fdc57b;
  border-radius: 50%;
  padding: 10px 15px 10px 10px;
  margin: 8px;
  position: relative;
  top: 8px;
}

.recipes {
  padding: 10px 18px 0 10px;
}

.library {
  padding: 0 10px 10px 18px;
}

/*Main */

.homepage {
  position: relative;
  width: 100%;
}

.homepage::after {
  pointer-events: none;
  content: "";
  background-image: url("/resources/images/cooking.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
}

h1 {
  font-family: Gwendolyn;
  text-align: center;
  padding-bottom: 20px;
  font-size: 96px;
  color: #394a51;
  margin-bottom: 0;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  font-family: Gwendolyn;
  background-color: var(--primary-color);
  padding: 20px;
  border-radius: 4px;
}

li {
  padding: 80px;
  background-size: cover;
  font-size: 64px;
  font-weight: bolder;
  transition: transform 1s;
  border-radius: 4px;
}

li:hover {
  transform: scale(1.2);
}

.menu {
  padding: 20px;
}

.soups {
  background-image: url("/resources/images/soup.webp");
}

.pastas {
  background-image: url("/resources/images/pasta.jpg");
  padding: 70px;
}

.desserts {
  background-image: url("/resources/images/cookies.jpg");
  color: white;
  padding: 50px;
}

.mainpage-links {
  color: black;
  text-decoration: none;
}

#desserts {
  color: rgb(248, 240, 240);
}

/*Recipe Pages */

.recipe-pages {
  background-color: rgb(127, 169, 155, 0.3);
}

.category-titles {
  margin-top: 20px;
}
