/* Navigation Bar */

.logo-link {
  text-decoration: none;
}

.logo {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 80px;
  background: darkmagenta;
  border-radius: 50%;
  padding: 10px 15px 10px 10px;
}

.recipes {
  padding: 10px 18px 0 10px;
}

.library {
  padding: 0 10px 10px 18px;
}

h1 {
  font-family: "Lucida Calligraphy";
  text-align: center;
  padding-bottom: 30px;
  font-size: 64px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding-top: 50px;
  font-family: "Lucida Calligraphy";
}

li {
  padding: 80px;
  background-size: cover;
  font-size: 48px;
  font-weight: bolder;
}

.soups {
  background-image: url("/resources/images/soup.webp");
}

.pastas {
  background-image: url("/resources/images/pasta.jpg");
  padding: 70px;
}

.desserts {
  background-image: url("/resources/images/cookies.jpg");
  color: white;
  padding: 50px;
}

.mainpage-links {
  color: black;
  text-decoration: none;
}

#desserts {
  color: rgb(248, 240, 240);
}
